<div class="alert alert-warning" ng-show="thing.alarm_threshold == 0 || (thing.alarm_min >= thing.alarm_max)">
    Alarms actions are disabled since alarm threshold is zero or because the alarm maximum is not greather than the alarm minimum.
    <br>
    Alarm threshold represents the number of consecutive values that must be measured to change state (trigger/untrigger alarm).
</div>
<div ng-hide="thing.alarm_threshold == 0 || (thing.alarm_min >= thing.alarm_max)">
    <div class="form-group">
        <label>Action Type</label>
        <select class="form-control" ng-options="k as v for (k, v) in alarmActions" ng-model="thing.$alarm_action.type"></select>
    </div>
    <div ng-switch="thing.$alarm_action.type">
        <div ng-switch-when="send_email">
            <div class="form-group">
                <label>Email Address</label>
                <input type="text" class="form-control" ng-model="thing.$alarm_action.email" disabled>
            </div>
            <!-- <div class="form-group">
                <label>Message</label>
                <input type="text" class="form-control" ng-model="thing.$alarm_action.message">
            </div> -->
        </div>
        <div ng-switch-when="http_get">
            <div class="form-group">
                <label>URL</label>
                <input type="text" class="form-control" ng-model="thing.$alarm_action.url">
            </div>
            <!-- <div class="form-group">
                <label>Headers</label>
                <textarea class="form-control" ng-model="thing.$alarm_action.headers"></textarea>
            </div> -->
        </div>
        <div ng-switch-when="http_post">
            <div class="form-group">
                <label>URL</label>
                <input type="text" class="form-control" ng-model="thing.$alarm_action.url">
            </div>
            <!-- <div class="form-group">
                <label>Headers</label>
                <textarea class="form-control" ng-model="thing.$alarm_action.headers"></textarea>
            </div> -->
            <!-- <div class="form-group">
                <label>Body</label>
                <textarea class="form-control" ng-model="thing.$alarm_action.body"></textarea>
            </div> -->
        </div>
        <div ng-switch-when="mqtt_actuator">
            Connect your actuator via MQTT to host
            <code><%= mqtt_server %></code>
            topic
            <code>states/{{ thing.api_key }}</code>
            <hr>
            Whenever there is a state change caused by the alarm triggering or untriggering, you will receive a JSON with the following keys:
            <pre class="well">
<b>value:</b> <i>(numeric)</i>
last measured value that caused the state change.
<br>
<b>state:</b> <i>(string: high, normal, low)</i>
the last {{ thing.alarm_threshold }} measured value(s) that caused state change are above the alarm maximum (<i>high</i>),
below the alarm minimum (<i>low</i>) or in range, causing alarm to untriger (<i>normal</i>).</pre>
            <hr>
            Example:
            <pre>
{
    "value": "35.41",
    "state": "high"
}</pre>
        </div>
    </div>
</div>