<ul class="nav nav-pills">
    <li class="active">
        <a href="#monitor-{{ thing.id }}" data-toggle="tab">
            <%= icon 'bar-chart-o'%>
            Monitor
        </a>
    </li>
    <li>
        <a href="#settings-{{ thing.id }}" data-toggle="tab">
            <%= icon 'wrench'%>
            Settings
        </a>
    </li>
    <li>
        <a href="#api-{{ thing.id }}" data-toggle="tab">
            <%= icon 'cogs'%>
            API
        </a>
    </li>
    <li>
        <a href="#action-{{ thing.id }}" data-toggle="tab">
            <%= icon 'play'%>
            Action
        </a>
    </li>
</ul>