<ul class="nav nav-pills">
    <li class="active">
        <a href="#monitor" data-toggle="tab">
            <%= icon 'bar-chart-o'%>
            Monitor
        </a>
    </li>
    <li>
        <a href="#settings" data-toggle="tab">
            <%= icon 'wrench'%>
            Settings
        </a>
    </li>
    <li>
        <a href="#api" data-toggle="tab">
            <%= icon 'cogs'%>
            API
        </a>
    </li>
</ul>