<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>Email template</title>

<style type="text/css">
/**
* Generic
*/

a {
    border: none;
    color: #178acc;
    outline: none !important;
    text-decoration: underline;
}

.undercontrol-align-left {
    font-size: 16px; 
    margin: 0 0 13px; 
    padding-left: 10%; 
    padding-right: 10%; 
    text-align: left !important;
}

img.featured {
    padding: 0 0 37px;
}

a.facebook-button {
    border: none;
    color: #a8a8a8;
    font-size: 13px;
    outline: none !important;
    text-decoration: none;
}

table.main {
    border-collapse: separate;
    border-spacing: 0;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    table-layout: fixed;
}

</style>
</head>

<body style="background: white; margin: 0px" bgcolor="white">
    <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" bgcolor="transparent" class="main">
        <tr>
            <td style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 60px 0 0">
                <table width="100%" class="header" style="border-collapse: separate; border-spacing: 0; table-layout: fixed">
                    <tr>
                        <td class="logo" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 0; text-align: center" align="center">
                            <%= image_tag 'undercontrol402x60.png', width: 402, height: 60, class: "featured" %>
                        </td>
                    </tr>
                </table>
                <table width="100%" class="content" style="border-collapse: separate; border-spacing: 0; table-layout: fixed">
                    <tr>
                        <td class="content-td" style="color: #818181; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; padding: 0 0 60px">
                            <p class="undercontrol-align-left">Hi <%= @resource.name %>,</p>
                            <p class="undercontrol-align-left">Thank you for joining <a href="http://undercontrol.io" target="_blank">Undercontrol.io</a>. We are really excited about the community growing so fast!
                            <p class="undercontrol-align-left">To read about projects that are using Undercontrol, <a href="http://undercontrol.io/blog" target="_blank">check out our blog</a>. We are working in developing use cases for more applications, so you can kickstart your projects easily.</p>
                            <p class="undercontrol-align-left">Also, we'd love to hear from you. If there is any application you think it's interesting and want us to develop a blog post or help you with the implementation, please contact us. We'd be glad to help you!</p>
                            <p class="undercontrol-align-left">Please confirm your account clicking in the following link: <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
                            <p class="undercontrol-align-left">We can't wait to keep on making Undercontrol awesome with your help!</p>
                            <p class="undercontrol-align-left">Until next time,<br>The Undercontrol Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <% # TODO: move the following to a partial view : %>
    <table cellspacing="0" border="0" cellpadding="0" align="center" width="100%" bgcolor="transparent" class="main footer" style="background: #f8f8f8; border-collapse: separate; border-spacing: 0; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0; max-width: 800px; table-layout: fixed">
        <tr>
            <td class="footer-td" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 26px 30px 22px; text-align: center; width: 100%" align="center">
                <h2 style="color: #a8a8a8; font-size: 13px; font-weight: bold; text-decoration: none">Follow us</h2>
                <p class="social" style="color: #a8a8a8; font-size: 13px; font-weight: 300; line-height: 1.5; margin: 27px 0 20px; text-decoration: none">
                    <% # TODO: add github button %>
                    <% # TODO: add twitter button %>
                    <%= link_to image_tag('mailers/find-us-facebook.png', height: 20), 'https://www.facebook.com/undercontrolio', class: 'facebook-button' %>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
