<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>Email template</title>



</head>

<body style="background: white; margin: 0px" bgcolor="white">

  <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" bgcolor="transparent" class="main" style="border-collapse: separate; border-spacing: 0; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0; table-layout: fixed">
    <tr>
      <td style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 60px 0 0">

        
        
  <table width="100%" class="header" style="border-collapse: separate; border-spacing: 0; table-layout: fixed">
    <tr>
      <td class="logo" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 0; text-align: center" align="center">
        
          <img src="http://www.undercontrol.io/wp-content/uploads/2016/03/undercontrol.png" width="402" height="60" class="featured" style="padding: 0 0 37px">
        
      </td>
    </tr>
  </table>


        
        <table width="100%" class="content" style="border-collapse: separate; border-spacing: 0; table-layout: fixed">
          <tr>
            <td class="content-td" style="color: #818181; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; padding: 0 0 60px">
              
                <p class="undercontrol-align-left">Hello <%= @resource.email %>,</p>
<p class="undercontrol-align-left">Someone has requested a link to change your <a href="http://undercontrol.io" target="_blank" style="border: none; color: #178acc; outline: none !important; text-decoration: underline">Undercontrol.io</a> password. You can do this through the link below.</p>

<p class="undercontrol-align-left"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>


<p class="undercontrol-align-left">If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>

<p class="undercontrol-align-left">Until next time,<br>The Undercontrol Team</p>
<p class="undercontrol-align-left" style="font-size: 16px; margin: 0; padding-left: 10%; padding-right: 10%; text-align: left !important" align="left"></p>
              
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  
  
    <table cellspacing="0" border="0" cellpadding="0" align="center" width="100%" bgcolor="transparent" class="main footer" style="background: #f8f8f8; border-collapse: separate; border-spacing: 0; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0; max-width: 800px; table-layout: fixed">
      <tr>
        <td class="footer-td" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 26px 30px 22px; text-align: center; width: 100%" align="center">
          
  <h2 style="color: #a8a8a8; font-size: 13px; font-weight: bold; text-decoration: none">Follow us</h2>
  <p class="social" style="color: #a8a8a8; font-size: 13px; font-weight: 300; line-height: 1.5; margin: 27px 0 20px; text-decoration: none">
    
    
      <a href="https://www.facebook.com/undercontrolio" style="border: none; color: #a8a8a8; font-size: 13px; outline: none !important; text-decoration: none"><img alt="Facebook" src="http://undercontrol.io/assets/FB-FindUsonFacebook-online-144.png" height="60"></a>
    
  </p>


          
          
            
          
          
            <p class="powered-by" style="color: #a8a8a8; display: block; font-size: 13px; font-weight: 300; line-height: 1.5; margin: 10px 0; text-decoration: none">Powered by <a href="https://via.undercontrol.io/e?ob=G33qAjYy%2FwH4%2BO%2F3ZCgsanQKfkDWYYuJvcNOTb94P00%3D&amp;h=f019467f06b052d94a3733e8c083827cd2f5f0a0-4332750290" style="border: none; color: #a8a8a8; font-size: 13px; font-weight: bold; outline: none !important; text-decoration: none">undercontrol</a></p>
          
        </td>
      </tr>
    </table>
  
</body>
</html>
